*.iml
.gradle
/local.properties
/.idea

# Local drawings and diagrams
/新的图/
*.drawio
*.drawio.bkp
/.kotlin
/.trae/
/.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.pyc
*.xml.bak
*.class
/app/build/
/app/release/
